
<!DOCTYPE html>
<html>
<head>
    <title>Detalle de Producto</title>
</head>
<body>
    <h1>Detalle de Producto</h1>
    <p>Nombre: {{ object.nombre }}</p>
    <p>Descripción: {{ object.descripcion }}</p>
    <p>Referencia: {{ object.referencia }}</p>
    <p>Modelo: {{ object.modelo }}</p>
    <p>Marca: {{ object.marca }}</p>
    <p>Precio: {{ object.precio }}</p>
    <p>Stock: {{ object.stock }}</p>
    <img src="{{ object.imagen.url }}" alt="Imagen del producto">
</body>
</html>
